body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 5px solid white;
    margin-bottom: 40px;
}
h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-family: 'Open Sans';
    margin: -10px 0;
}
h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: thin;
}
.content {
    padding-top: 100px;
    padding-bottom: 40px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    margin: 8px;
    display: inline-block;
    list-style: none;
    width: 65px;
    height: 65px;
}
li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
a {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
}


/* My mods start here */


/*[data-tooltip] {*/
/*    display: inline;*/
/*    position: relative;*/
/*}*/

/*[data-tooltip]:hover:after {*/
/*    background: #333;*/
/*    background: rgba(0, 0, 0, .8);*/
/*    border-radius: 5px;*/
/*    color: #fff;*/
/*    content: attr(data-tooltip);*/
/*    left:50%;*/
/*    top:100%;*/
/*    padding: 5px 15px;*/
/*    position: absolute;*/
/*    width: 350px;*/
/*    margin-left: -175px;*/

/*    !*z-index: 98;*!*/
/*    !*left: 20%;*!*/
/*    !*bottom: -34px;*!*/

/*    !*bottom: 100%;  !* At the top of the tooltip *!*!*/
/*    !*!*left: 50%;*!*!*/
/*    !*margin-left: -5px;*!*/
/*    !*border-width: 5px;*!*/
/*    !*border-style: solid;*!*/
/*    !*border-color: transparent transparent black transparent;*!*/

/*}*/

/*[data-tooltip]:hover:before {*/
/*    border: solid;*/
/*    border-color: #333 transparent;*/
/*    border-width: 0 6px 6px 6px;*/
/*    bottom: -4px;*/
/*    content: "";*/
/*    left: 50%;*/
/*    position: absolute;*/
/*    z-index: 99;*/
/*}*/

/*[tooltip] {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    border-bottom: 1px dotted black;*/
/*}*/

/*[tooltip] .tooltiptext {*/
/*    visibility: hidden;*/
/*    width: 120px;*/
/*    background-color: black;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    border-radius: 6px;*/
/*    padding: 5px 0;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    bottom: 150%;*/
/*    left: 50%;*/
/*    margin-left: -60px;*/
/*}*/

/*[tooltip] .tooltiptext::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    margin-left: -5px;*/
/*    border-width: 5px;*/
/*    border-style: solid;*/
/*    border-color: black transparent transparent transparent;*/
/*}*/

/*[tooltip]:hover .tooltiptext {*/
/*    visibility: visible;*/
/*}*/

/* My mods stop here */





@media (max-width: 450px) {
ul {
    text-align: center;
}
li {
    border-radius: 0%;
    border: none;
    color: white;
    margin: 8px;
    display: block;
    list-style: none;
    margin: 10px 0px;
    text-align: center;
    height: auto;
    width: auto;
}
li:hover {
    background-color: none;
    transition: none;
}
a {
    text-align: justify;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px;
    padding-left: 30px;
    width: 70%;
}
a:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
}
.description {
    display: inline-block;
    color: white;
    font-family: Arial;
    margin-left: 40px;
}
.content {
    padding-top: 60px;
}
}
